/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles add by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic styles*/
}

/*Header*/
header {
    background-color: papayawhip;
    font-family: 'montserat', sans-serif;
    width: 100%;
    position: fixed;
    padding: 0 1rem;
    box-shadow: 0 2px 2px pink;
    display: flex;
    justify-content:stretch;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: 'montserat', sans-serif;
    text-transform: uppercase;
}

/*Navigation styles*/
#navigation {
    list-style-type: none;
}

/*Styling for the active tab in the navigation menu*/
.active {
    color: blue;
}

/*Dropdown toggle*/
nav {
    position: absolute;
    width: 100%;
    background-color: papayawhip;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px palevioletred;
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle{
    display: none;
}

#nav-toggle-label{
    font-size: 2rem;
}

/*Main*/
main {
    background-color: azure;
    /*push the footer down and make the main element take any surplus space*/
    flex: 1 1 auto;
}

/*Footer*/
footer {
    background-color: bisque;
}